.spinner {
  display: block;
  margin: 0 auto;
  width: 1.6rem;
  height: 1.6rem;
  animation: rotate360 4s linear infinite;

  circle {
    fill: lightgray;
  }

  g {
    stroke: lightgray;
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
