.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.915);
  padding: 0 15px;

  .logoLink {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .profileLink {
      text-decoration: none;
      color: black;
      font-size: 1rem;
      margin-right: 20px;
    }
  }
}
