.button {
  border: 1px solid black;
  background-color: white;
  font-weight: 400;
  cursor: pointer;
}
.small {
  width: 100px;
  height: 30px;
}

.large {
  width: 150px;
  height: 30px;
}

.selected-button {
  background-color: lightblue;
}
