.button {
  width: 5rem;
  height: 2rem;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 5px;
  background-color: rgb(245, 245, 245);
  font-weight: 400;
  font-size: 1rem;
  color: black;
  cursor: pointer;
}
