.button {
  width: 5rem;
  height: 2rem;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 5px;
  background-color: rgb(245, 245, 245);
  font-weight: 400;
  font-size: 1rem;
  color: black;
  cursor: pointer;
  &:disabled {
    opacity: 0.6;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(165, 165, 165);
    cursor: not-allowed;
  }
}
.create-button {
  background-color: rgb(217, 231, 214);
  border: rgb(206, 222, 193) 1px solid;
  color: rgba(0, 0, 0, 0.926);
}
